<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>779234448140-rbs0vrvepuufvug2djishl3vgt9g76lr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.779234448140-rbs0vrvepuufvug2djishl3vgt9g76lr</string>
	<key>API_KEY</key>
	<string>AIzaSyDbocuiQy3aKH2pOpqnA9wYKEAnpBkuDqs</string>
	<key>GCM_SENDER_ID</key>
	<string>779234448140</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>a.berestov.test</string>
	<key>PROJECT_ID</key>
	<string>testaufgabe-715e5</string>
	<key>STORAGE_BUCKET</key>
	<string>testaufgabe-715e5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:779234448140:ios:d142a47988999e27ac2f29</string>
</dict>
</plist>